<section class=" pt-5"[style.background]="'#223'">
  
  <div class="container  text-white">
    <div class="row text-center py-4 ">
      <div class="col-md-4 mb-4">
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive
        </p>
        <p>Clark, MO 65243
        </p>
      </div>
      <div class="col-md-4 mb-4">
        <h3 class="mb-3">AROUND THE WEB
        </h3>
        <div class=" d-flex mb-3 justify-content-evenly">
          <div class="bord ">
            <i class="fab fa-facebook-f fs-3"></i>
          </div>
          <div class="bord">
            <i class="fab fa-twitter fs-3"></i>
          </div>
          <div class="bord">
            <i class="fab fa-linkedin fs-3"></i>

          </div>
          <div class="bord">
            <i class="fas fa-futbol fs-3"></i>

          </div>
        </div>

      </div>
      <div class="col-md-4 mb-4">
        <h3>ABOUT FREELANCER
        </h3>
        <p>Freelance is a free to use, MIT</p>
        <p> licensed Bootstrap theme created by Route

        </p>
      </div>

    </div>
  </div>
  <div class="text-center text-white bg-dark fs-5 py-4 " >
    <p>Copyright © Your Website 2021</p>
  </div>
</section>