<section class="py-5 text-white " [style.background]="'#1abc9c'">
  <div class="container mt-5 ">
    <div class="star position-relative mt-5 pt-5">
      <h2 class="  pb-5 pt-3 mb-5 display-4 fw-bold  text-center">ABOUT</h2>

    </div>
    <div class="row py-5 justify-content-center gx-5 ">
      <div class="col-md-4">
        <p class="lead fw-semibold">
          Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
          including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-4">
        <p class="lead fw-semibold">
          You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email
          address to the contact form to make it fully functional!
        </p>
      </div>
    </div>
  </div>
</section>