
<section class="py-5">
 <div class="container mt-5">
  <div class="star-b position-relative pt-5">
    <h2 class="  pb-5 pt-3 mb-5 display-4 fw-bold  text-center">PORTFOLIO</h2>

  </div>
  <div class="row gy-4 ">
    <div class="col-md-4 ">
      <div class="position-relative parent " data-bs-toggle="modal" data-bs-target="#exampleModal">
             <img src=".\assets\imgs\first.png" alt="" class=" img-fluid rounded" > 
             <p class="hov ">
              <i class="fas fa-plus fa-4x translate-middle top-50 start-50 position-absolute"></i>
             </p>
      </div>

  <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content text-center mx-auto p-5 pt-0 ">
      <div class="modal-header border-bottom-0 ">
        <button type="button" [style.color]="'#1abc9c'" class="btn-close fw-bolder fs-1 p-0 " data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-xmark"></i></button>
      </div>
      <div class="modal-body ">
        <div class="star-b position-relative">
                  <h1 class="modal-title  pb-5 pt-3 mb-5 display-4 fw-bold  text-center" id="exampleModalLabel">LOG CABIN
        </h1>
        </div>

        <img src="assets\imgs\first.png" alt="" class="img-fluid mb-5 rounded px-5 rounded">
        <p class="text-center mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
        <button type="button" class="btn btn-secondary border-0 text-center mx-auto" data-bs-dismiss="modal"  [style.background]="'#1abc9c'">X Close Window</button>

      </div>
      
    </div>
  </div>
</div>
    </div>
    <div class="col-md-4 ">

      <div class="position-relative parent " data-bs-toggle="modal" data-bs-target="#exampleModal1">
        <img src=".\assets\imgs\sceond.png" alt="" class=" img-fluid rounded" data-bs-toggle="modal" data-bs-target="#exampleModal1" > 
        <p class="hov ">
         <i class="fas fa-plus fa-4x translate-middle top-50 start-50 position-absolute"></i>
        </p>
 </div>




  <div class="modal fade " id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content text-center mx-auto p-5 pt-0">
      <div class="modal-header border-bottom-0 ">
        <button type="button" [style.color]="'#1abc9c'" class="btn-close fw-bolder fs-1 p-0 " data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-xmark"></i></button>
      </div>
      <div class="modal-body ">
        <div class="star-b position-relative">
                  <h1 class="modal-title  pb-5 pt-3 mb-5 display-4 fw-bold  text-center" id="exampleModalLabel">TASTY CAKE
        </h1>
        </div>

        <img src="assets\imgs\sceond.png" alt="" class="img-fluid mb-5 rounded px-5 rounded">
        <p class="text-center mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
        <button type="button" class="btn btn-secondary border-0 text-center mx-auto" data-bs-dismiss="modal"  [style.background]="'#1abc9c'">X Close Window</button>

      </div>
      
    </div>
  </div>
</div>
    </div>
    <div class="col-md-4 ">
      <div class="position-relative parent " data-bs-toggle="modal" data-bs-target="#exampleModal2">
        <img src=".\assets\imgs\three.png" alt="" class="img-fluid rounded" > 
        <p class="hov ">
         <i class="fas fa-plus fa-4x translate-middle top-50 start-50 position-absolute"></i>
        </p>
 </div>




  <div class="modal fade " id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content text-center mx-auto p-5 pt-0">
      <div class="modal-header border-bottom-0 ">
        <button type="button" [style.color]="'#1abc9c'" class="btn-close fw-bolder fs-1 p-0 " data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-xmark"></i></button>
      </div>
      <div class="modal-body ">
        <div class="star-b position-relative">
                  <h1 class="modal-title  pb-5 pt-3 mb-5 display-4 fw-bold  text-center" id="exampleModalLabel">CIRCUS TENT
        </h1>
        </div>

        <img src="assets\imgs\three.png" alt="" class="img-fluid mb-5 rounded px-5 rounded">
        <p class="text-center mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
        <button type="button" class="btn btn-secondary border-0 text-center mx-auto" data-bs-dismiss="modal"  [style.background]="'#1abc9c'">X Close Window</button>

      </div>
      
    </div>
  </div>
</div>
    </div>
    <div class="col-md-4 ">
      <div class="position-relative parent " data-bs-toggle="modal" data-bs-target="#exampleModal3">
        <img src=".\assets\imgs\four.png" alt="" class=" img-fluid rounded" > 
        <p class="hov ">
         <i class="fas fa-plus fa-4x translate-middle top-50 start-50 position-absolute"></i>
        </p>
 </div>




  <div class="modal fade " id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content text-center mx-auto p-5 pt-0">
      <div class="modal-header border-bottom-0 ">
        <button type="button" [style.color]="'#1abc9c'" class="btn-close fw-bolder fs-1 p-0 " data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-xmark"></i></button>
      </div>
      <div class="modal-body ">
        <div class="star-b position-relative">
                  <h1 class="modal-title  pb-5 pt-3 mb-5 display-4 fw-bold  text-center" id="exampleModalLabel">CONTROLLER
        </h1>
        </div>

        <img src="assets\imgs\four.png" alt="" class="img-fluid mb-5 rounded px-5 rounded">
        <p class="text-center mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
        <button type="button" class="btn btn-secondary border-0 text-center mx-auto" data-bs-dismiss="modal"  [style.background]="'#1abc9c'">X Close Window</button>

      </div>
      
    </div>
  </div>
</div>
    </div>
    <div class="col-md-4 ">
      <div class="position-relative parent " data-bs-toggle="modal" data-bs-target="#exampleModal4">
        <img src=".\assets\imgs\five.png" alt="" class=" img-fluid rounded" > 
        <p class="hov ">
         <i class="fas fa-plus fa-4x translate-middle top-50 start-50 position-absolute"></i>
        </p>
 </div>




  <div class="modal fade " id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content text-center mx-auto p-5 pt-0">
      <div class="modal-header border-bottom-0 ">
        <button type="button" [style.color]="'#1abc9c'" class="btn-close fw-bolder fs-1 p-0 " data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-xmark"></i></button>
      </div>
      <div class="modal-body ">
        <div class="star-b position-relative">
                  <h1 class="modal-title  pb-5 pt-3 mb-5 display-4 fw-bold  text-center" id="exampleModalLabel">LOCKED SAFE
        </h1>
        </div>

        <img src="assets\imgs\five.png" alt="" class="img-fluid mb-5 rounded px-5 rounded">
        <p class="text-center mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
        <button type="button" class="btn btn-secondary border-0 text-center mx-auto" data-bs-dismiss="modal"  [style.background]="'#1abc9c'">X Close Window</button>

      </div>
      
    </div>
  </div>
</div>
    </div>

    <div class="col-md-4 ">
      <div class="position-relative parent " data-bs-toggle="modal" data-bs-target="#exampleModal5">
        <img src=".\assets\imgs\six.png" alt="" class=" img-fluid rounded" > 
        <p class="hov ">
         <i class="fas fa-plus fa-4x translate-middle top-50 start-50 position-absolute"></i>
        </p>
 </div>



  <div class="modal fade " id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content text-center mx-auto p-5 pt-0">
      <div class="modal-header border-bottom-0 ">
        <button type="button" [style.color]="'#1abc9c'" class="btn-close fw-bolder fs-1 p-0 " data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-xmark"></i></button>
      </div>
      <div class="modal-body ">
        <div class="star-b position-relative">
                  <h1 class="modal-title  pb-5 pt-3 mb-5 display-4 fw-bold  text-center" id="exampleModalLabel">SUBMARINE
        </h1>
        </div>

        <img src="assets\imgs\six.png" alt="" class="img-fluid mb-5 rounded px-5 rounded">
        <p class="text-center mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
        <button type="button" class="btn btn-secondary border-0 text-center mx-auto" data-bs-dismiss="modal"  [style.background]="'#1abc9c'">X Close Window</button>

      </div>
      
    </div>
  </div>
</div>
    </div>

  </div>



</div> 
</section>



