
<section class="min-vh-100 d-flex justify-content-center py-5  align-items-center   text-white" [style.background]="'#1abc9c'">
 
    <div class="text-center mt-5">
    <div class=" w-50 mx-auto pt-5">
  <img src="assets/imgs/avataaars.svg" alt="" class="img-fluid">
   </div>
  <div class="star position-relative">
  <h1 class="  pb-5 pt-3 mb-5 display-2 fw-bold ">START ANGULAR</h1>
  </div>  
  <p class="fs-4 mb-3">Graphic Artist - Web Designer - Illustrator</p>
    </div>

  
   
   

</section>